<!DOCTYPE html>
<html lang="en" dir="ltr">

    <style type="text/css">
    html,
    body {
        height: 100%;
        margin: 0;
    }

    </style>

    <head>
        <meta charset="utf-8">
        <title>Orca — Sessions statistics dashboard</title>
    </head>

    <body ng-app="orca-sessions-stats" style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center;" ng-controller="main as $ctrl">
        <dc-dashboard></dc-dashboard>
        <form ng-init="mode = 'permanent/temporary'">
            <label>
                <input type="radio" ng-model="mode" ng-value="'f/m'">
                Male/Female
            </label>
            <label>
                <input type="radio" ng-model="mode" ng-value="'permanent/temporary'">
                Permanent/Temporary
            </label>
            <label>
                <input type="radio" ng-model="mode" ng-value="'validated/flunked/absent'">
                Validated/Flunked/Absent
            </label>
        </form>

        <sessions-stats mode="mode" style="align-self: stretch; min-height: 300px; display: block;" on-highlight="$ctrl.highlighted = highlighted"></sessions-stats>
        <stats-details mode="mode" entry="$ctrl.highlighted" style="align-self: stretch;"></stats-details>
    </body>

</html>
