<!DOCTYPE html>
<html lang="en" dir="ltr">

    <style type="text/css">
    html,
    body {
        height: 100%;
        margin: 0;
    }

    </style>

    <head>
        <meta charset="utf-8">
        <title>Orca — Sessions statistics dashboard</title>
    </head>

    <body ng-app="orca-sessions-stats" style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center;" ng-controller="main as $ctrl">
        <population-discriminator discriminator="$ctrl.discriminator"></population-discriminator>
        <infos-selector displayed="$ctrl.infos"></infos-selector>

        <input type="number" ng-model="instructors">
        <button ng-click="$ctrl.instructors.filter(instructors)">OK</button>

        <outcomes-histogram ng-if="$ctrl.date" discriminator="$ctrl.discriminator" entries="$ctrl.byDates" infos="$ctrl.infos" on-highlight="$ctrl.filterDates(dates)"
                            style="align-self: stretch; height: 300px;"></outcomes-histogram>
        <!-- <h4>{{$ctrl.dates[0] | date}} — {{$ctrl.dates[1] | date}}</h4> -->
        <stats-details infos="$ctrl.infos" discriminator="$ctrl.discriminator" entry="$ctrl.getGenders()" style="align-self: stretch;" ng-if="$ctrl.genders"></stats-details>
    </body>

</html>
